$important: !important;

/* Color system */
$white: #ffffff;
$black: #2f2f2f;
$green: #40b983;
$darkGreen: #2f9668;
$darkestGreen: #217751;
$blue: #00b9f5;
$dark-blue: #012b72;
$grey-600: #6c757d;
$grey-800: #485e7f;
$hovered: #f8f8f8;
$highlight: $green;

