@import "@css/_settings.css";

.rtl {
  direction: rtl;
}

.vuejs3-datepicker {
  position: relative;
  text-align: left;
  &__value {
    min-width: 200px;
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid ;
  }
  &__content{
    margin-left: 10px;
  }
  &__selectedValues {
    padding: 10px;
    background: $blue;
    color: $white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  &__year{
    margin: 0px 0px 10px 0px;
    font-size: 24px;
  }
  &__verbose{
    margin: 0px 0px 10px 0px;
    font-size: 18px;
  }
  &__typeablecalendar{
    position: absolute;
    top: 10px;
    left: 10px;
  }
  &__inputvalue{
    min-width: 200px;
    display: inline-flex;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid ;
    padding-left: 35px;
  }
}

.vuejs3-datepicker * {
  box-sizing: border-box;
}

.vuejs3-datepicker {
  input {
    border: 1px solid;
  }
}
.vuejs3-datepicker__calendar {
  position: absolute;
  z-index: 100;
  background: $white;
  width: 300px;
  border: 1px solid $black;
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* padding: 10px 15px; */
}

.vuejs3-datepicker__calendar header {
  display: block;
  line-height: 40px;
}

.vuejs3-datepicker__calendar header span {
  text-align: center;
  width: 71.42857142857143%;
  float: left;
}

.vuejs3-datepicker__calendar header .prev,
.vuejs3-datepicker__calendar header .next {
  width: 14.285714285714286%;
  float: left;
  text-indent: -10000px;
  position: relative;
}

.vuejs3-datepicker__calendar header .prev:after,
.vuejs3-datepicker__calendar header .next:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  border: 6px solid transparent;
}

.vuejs3-datepicker__calendar header .prev:after {
  border-right: 10px solid $black;
  margin-left: -5px;
}

.vuejs3-datepicker__calendar header .prev.disabled:after {
  border-right: 10px solid $black;
}

.vuejs3-datepicker__calendar header .next:after {
  border-left: 10px solid $black;
  margin-left: 5px;
}

.vuejs3-datepicker__calendar header .next.disabled:after {
  border-left: 10px solid #ddd;
}

.vuejs3-datepicker__calendar header .prev:not(.disabled),
.vuejs3-datepicker__calendar header .next:not(.disabled),
.vuejs3-datepicker__calendar header .up:not(.disabled) {
  cursor: pointer;
}

.vuejs3-datepicker__calendar header .prev:not(.disabled):hover,
.vuejs3-datepicker__calendar header .next:not(.disabled):hover,
.vuejs3-datepicker__calendar header .up:not(.disabled):hover {
  background: #eee;
}

.vuejs3-datepicker__calendar .disabled {
  color: #ddd;
  cursor: default;
}

.vuejs3-datepicker__calendar .flex-rtl {
  display: flex;
  width: inherit;
  flex-wrap: wrap;
}

.vuejs3-datepicker__calendar .cell {
  display: inline-block;
  padding: 0 5px;
  width: 14.285714285714286%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
}

.vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).day,
.vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).month,
.vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).year {
  cursor: pointer;
}

.vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vuejs3-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid $blue;
  border-radius: 50%;
}

.vuejs3-datepicker__calendar .cell.selected {
  background: $blue;
  border-radius: 50%;
}

.vuejs3-datepicker__calendar .cell.selected:hover {
  background: $blue;
  border-radius: 50%;
}

.vuejs3-datepicker__calendar .cell.selected.highlighted {
  background: $blue;
  border-radius: 0px;
}

.vuejs3-datepicker__calendar .cell.highlighted {
  background: $blue;
}

.vuejs3-datepicker__calendar .cell.highlighted.disabled {
  color: #a3a3a3;
}

.vuejs3-datepicker__calendar .cell.grey {
  color: $grey-800;
}

.vuejs3-datepicker__calendar .cell.grey:hover {
  background: inherit;
}

.vuejs3-datepicker__calendar .cell.day-header {
  font-size: 75%;
  white-space: nowrap;
  cursor: inherit;
}

.vuejs3-datepicker__calendar .cell.day-header:hover {
  background: inherit;
}

.vuejs3-datepicker__calendar .month,
.vuejs3-datepicker__calendar .year {
  width: 33.333%;
}

.vuejs3-datepicker__clear-button,
.vuejs3-datepicker__calendar-button {
  cursor: pointer;
  font-style: normal;
}

.vuejs3-datepicker__clear-button.disabled,
.vuejs3-datepicker__calendar-button.disabled {
  color: #999;
  cursor: default;
}

.dp-error {
  color: red;
  font-size: 12px
}

.backdrop{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}